<div role='banner' class="header_uber">
{{#if @blog.logo}}<a class="logo_uber" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
<h1 class="blogtitle_uber">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<h2 class="blogdescription_uber">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{@blog.description}}
</a>
</h2>
</div>