<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
	<link href='//fonts.googleapis.com/css?family=Raleway|Noticia+Text:400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
 
	{{! Responsive Meta Tags }}
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
{{ghost_head}}
</head>
<body class="{{body_class}}">
	<header id="header_wordsmith" {{#if @blog.cover}}style="background-color: black"{{/if}}>
		{{#if @blog.cover}}<img id="cover_wordsmith" src="{{@blog.cover}}">{{/if}}
		{{#if @blog.logo}}<a href="{{@blog.url}}"><img id="logo_wordsmith" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{else}}<a id="blogname_wordsmith" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
		{{/if}}
		<br>
		<div class="colorborder_wordsmith color_ws1"></div><div class="colorborder_wordsmith color_ws2"></div><div class="colorborder_wordsmith color_ws3"></div><div class="colorborder_wordsmith color_ws4"></div>
	</header>

	{{{body}}}

	<footer class="footer_wordsmith">
		<div id="socialshare_wordsmith">
			<a target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="iconfont_wordsmith icon-facebook"></span></a>
			<a target="_blank" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"><span class="iconfont_wordsmith icon-twitter"></span></a>
			<a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="iconfont_wordsmith icon-google-plus"></span></a>
			<a target="_blank" href="{{@blog.url}}/rss/"><span class="iconfont_wordsmith icon-feed"></span></a>
		</div>
		<div id="copyright_wordsmith">© 2013 <a href="/">{{@blog.title}}</a>.</div>
		<div id="created_wordsmith">Ghost Theme by<a href="https://twitter.com/marcosnwp"> Marcos Navarro</a>.</div>
	</footer>
 	
 	{{ghost_foot}}
 	<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
 	<script>hljs.initHighlightingOnLoad();</script>
 	<script src="/assets/js/main.js"></script>
</body>
</html>